* {
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari, Edge */
    color-adjust: exact !important;                 /*Firefox*/
}
@media print {
    @page {
        size: A4;
        margin-left: 10px;
        margin-right: 10px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
table,tr,td,th {
    padding:3px;
    font-size:small;
}
.fontcust {
    font-family: Calibri, sans-serif;
}

.cust_details {
    font-family: Calibri, sans-serif;
    font-size: medium;
    padding:5px;
}
.date_ref {
    position: absolute;
    top: 130px;
    right: 16px;
    font-family: Calibri, sans-serif;
    font-size: medium;
    padding:5px;
}
.header_text {
    font-family: Calibri, sans-serif;
    font-size: large;
    padding:2px;
    text-align:center;
}
.sizexxl {
    font-size:xx-large
}
.sizexl {
    font-size:x-large
}
.sizel {
    font-size:  large
}
.sizes {
    font-size:small;
}
.sizem {
    font-size:medium;
}
.center {
    text-align:center;
}
.left {
    text-align:left;
}
.right {
    text-align:right;
}
.border {
    border:1px solid black;
    border-collapse: collapse;
}
.light {
    background-color: white;
}
.dark {
    background-color: #f3f1f1;
}
.no-border{
    border: 0px;
}
.header{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 99.5%
}
.tabledes{
    border-collapse: collapse;
    width:100%;
}
.prod_img {
  max-width: 400px;
  max-height: 200px;
  background-color: powderblue;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.head {
    background-color: #00469b;
    color: white;
}
.center-screen {
    position:absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}
.notice{
  font-size: x-small;
}
