table, tr, td,th {
  border: 1px solid black;
  border-collapse:collapse;
  padding:5px;
}
.light {
    background-color: white;
    color: black;
}
.dark {
    background-color: #f3f1f1;
    color: black;
}
.button {
    background-color: #00469b;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    white-space: nowrap;
  }
  .button:focus:not(:focus-visible):not(.focus-visible) {
    box-shadow: none;
    outline: none;
  }
  .button:hover {
    background-color: #2c974b;
  }
  .button:focus {
    box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
    outline: none;
  }

.calctable, .calctr, .calctd {
  border:0px solid black;
  text-align: center;
  border-collapse: collapse;
  padding:4px;
  background-color: #032198;
  }
  .button-calc {
    background-color: white;
    border: 1px solid black;
    border-radius: 6px;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px;
    padding: 8px 16px 8px 16px;
    text-align: center;
    vertical-align: middle;
  }
  .button-calc:hover {
    background-color: #2c974b;
  }



.input {
    width: 500px;
}
.input-xs {
  width: 50px;
}
.input-s {
  width: 100px;
}
.input-m {
  max-width: 500px;
}
.input-l {
  width: 400px;
}

