<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='media/favicon.ico') }}">
        <title>{{title}}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" >
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/sticky-footer-navbar.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" >
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">Quote Craft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {% for nav in navbar %}
                            <li class="nav-item"><a class="nav-link" href="{{nav[1]}}">{{nav[0]}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main" class="container-fluid" style="padding:80px 10px 10px 10px;">
            <br><br>
            {% if type=='admin_home' %}
                <ul>
                    <li><a href="/admin?view=add_user">Add a new user</a></li>
                    <li><a href="/admin?view=update_user">Update existing user.</a></li>
                    <li><a href="/admin?view=logs">Logs</a></li>
                </ul>
            {% elif type=='admin_add' %}
                <form  action="/admin?view=add_user" method="POST">
                    <table style="border:0px">
                        <tr style="border:0px"><td style="border:0px">Username</td><td style="border:0px"><input type="text" id="user" name="user" required /></td></tr>
                        <tr style="border:0px"><td style="border:0px">User Full Name</td><td style="border:0px"><input type="text" id="user_full_name" name="user_full_name" required /></td></tr>
                        <tr style="border:0px"><td style="border:0px">User Group</td><td style="border:0px"><input type="text" id="usergroup" name="usergroup" required /></td></tr>
                        <tr style="border:0px"><td style="border:0px">Type</td><td style="border:0px"><select name="type" id="type" required><option value="User">User</option><option value="Admin">Administrator</option></select></td></tr>
                        <tr style="border:0px"><td style="border:0px"></td><td style="border:0px"><input type="submit" value="Add User" class="button"></td></tr>
                    </table>
                </form>
            {% elif type=='add_success' %}
                <p>User {{user_name}} added succesfully..</p>
                <p>New login password is <input type="text" readonly value="{{new_password}}" /></p><br>
    
            {% elif type=='user_duplicate' %}
                <p>Username entered already exists. Username must be unique. Try again.</p>
                <meta http-equiv="Refresh" content="4; url='/admin?view=add_user'" />
            {% elif type=='admin_update' %}
                {% block userlist %}
                    {% if data|length > 0 %}
                        <p>Select user from the list below.</p>
                        <table>
                            <tr><th>User Full Name</th><th>User ID</th><th>User Type</th><th>User Group</th><th>Action</th></tr>
                            {% for entry in data %}
                                <tr><td>{{entry['user_full_name']}}</td><td>{{entry['user_name']}}</td><td>{{entry['type']}}</td><td>{{entry['user_group']}}</td><td><a href="/admin?view=update_user&user_pk={{entry['primary_key']}}"><button class="button">Edit</button></a></td></tr>
                            {% endfor %}
                        </table>
                    {% else %}
                        <p>No users</p>
                    {% endif %}
                {% endblock userlist%}
            {% elif type=='logs' %}
            <a href="/admin?view=logs_excel"><button class="button">Export to CSV</button></a><br><br>
                {% if logs_data|length > 0 %}
                    <div id="logs_table">
                        <table>
                        <tr><th colspan=6 style="text-align:center;">Logs</th></tr>
                        <tr>
                            <th>Sr.</th>
                            <th>Date & Time</th>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>IP Address</th>
                            <th>Type</th>
                        </tr>
                        {% for logs in logs_data %}{% if loop.index % 2 == 0 %}<tr class="dark">{% else %}<tr class="light">{% endif %}
                            <td>{{loop.index}}</td>
                            <td>{{logs['date_time']}}</td>
                            <td>{{logs['user']}}</td>
                            <td>{{user_dict[logs['user']]}}</td>
                            <td>{{logs['ip_address']}}</td>
                            <td>{{logs['type']}}</td>
                        </tr>{% endfor %}
                    </table>
                    </div>
                {% else %}
                    <div id="logs_table"><p>No Logs.</p></div>
                {% endif %}
            {% elif type=='user_edit' %}
            <a href="/admin?view=update_user" style="text-decoration:none; font-size:small;">&#x2190 Back to All Users</a>
                <form  action="/admin?view=update_user" method="POST">
                    <input type="number" id="primary_key" name="primary_key" value='{{userdata["primary_key"]}}' hidden />
                    <table style="border:0px">
                        <tr style="border:0px"><td style="border:0px">Username</td><td style="border:0px"><input type="text" id="user_name" name="user_name" value='{{userdata["user_name"]}}' readonly /></td></tr>
                        <tr style="border:0px"><td style="border:0px">User Full Name</td><td style="border:0px"><input type="text" id="user_full_name" name="user_full_name" value='{{userdata["user_full_name"]}}' required /></td></tr>
                        <tr style="border:0px"><td style="border:0px">User Group</td><td style="border:0px"><input type="text" id="user_group" name="user_group" value='{{userdata["user_group"]}}' required /></td></tr>
                        <tr style="border:0px"><td style="border:0px">Type</td><td style="border:0px"><select name="type" id="type" required><option value='{{userdata["type"]}}'>{{userdata["type"]}}</option>{% if userdata["type"] == 'User' %}<option value="Admin">Administrator</option>{% else %}<option value="User">User</option>{% endif %}</select></td></tr>
                        <tr style="border:0px"><td style="border:0px"></td><td style="border:0px"><input type="submit" class="button" value = "Update"></td></tr>
                    </table>
                </form>
                <br><br>
                <a href='/admin?view=update_user_password&user_pk={{userdata["primary_key"]}}'><button class="button">Reset Password for {{userdata["user_name"]}}</button></a>
                <hr>
                {% if logs_data|length > 0 %}
                    <div id="logs_table">
                        <table>
                        <tr><th colspan=6 style="text-align:center;">Logs</th></tr>
                        <tr>
                            <th>Sr.</th>
                            <th>Date & Time</th>
                            <th>Admin User ID</th>
                            <th>Admin User Name</th>
                            <th>Type</th>
                            <th>Details</th>
                        </tr>
                        {% for logs in logs_data %}{% if loop.index % 2 == 0 %}<tr class="dark">{% else %}<tr class="light">{% endif %}
                            <td>{{loop.index}}</td>
                            <td>{{logs['date_time']}}</td>
                            <td>{{logs['user']}}</td>
                            <td>{{user_dict[logs['user']]}}</td>
                            <td>{{logs['type']}}</td>
                            <td><pre>{{logs['details']}}</pre></td>
                        </tr>{% endfor %}
                    </table>
                    </div>
                {% else %}
                    <div id="logs_table"><p>No Logs.</p></div>
                {% endif %}
            {% elif type=='user_update_no_user' %}
                <p>Error has occured. Try Again</p>
                <meta http-equiv="Refresh" content="3; url='/admin?view=update_user'" />
            {% elif type=='change_password_permission' %}
                <form action='/admin?view=update_user_password' method="POST">
                    <input type="number" id="primary_key" name="primary_key" value='{{user_data["primary_key"]}}' hidden />
                    <p>Are you sure you want to reset password for<br>
                        User ID: <strong>{{user_data['user_name']}}</strong><br>
                        Full Name: <strong>{{user_data['user_full_name']}}</strong></p>
                    <table style="border:0px;"><tr style="border:0px;">
                        <td style="border:0px;">
                            <input type="submit" value="Yes Reset Password" class="button">
                        </td>
                        <td style="border:0px;">
                            <a href='/admin?view=update_user&user={{user_name}}'><button class="button">No</button></a>
                        </td>
                    </tr>
                    </table>
                </form>
            {% elif type=='change_password_confirmation' %}
                <p>Password is successfully reset for <br>
                                    User ID: <strong>{{user_data['user_name']}}</strong><br>
                                    Full Name: <strong>{{user_data['user_full_name']}}</strong></p>
                <p>New login password is <input type="text" readonly value="{{new_password}}" /></p><br>
                <p>Please note user will be prompted to change password on there next login</p>
            {% endif %}
        </main>
        <footer class="footer">| Created by Moizali Taj | Last updated on {{last}} |</footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static',filename='js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
