<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='media/favicon.ico') }}">
        <title>{{title}}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" >
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/sticky-footer-navbar.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" >
        <script>
            function mobile_number_formater(mobile_number){
                mobile_number = mobile_number.replace(/ /g,'').slice(-9)
                if (mobile_number.length == 9){
                    if (mobile_number[0] == 5){
                        mobile_number = "0" + mobile_number.slice(0,2) + " " + mobile_number.slice(2,5) + " " + mobile_number.slice(5,9);
                        return mobile_number;
                    }
                }
                return "problem";
            }
            function salesman_add_edit(link){
                let checks_passed = true;

                let salesman_name_value = document.getElementById("salesman_name").value;
                let mobile_no_value = document.getElementById("mobile_no").value;
                let email_value = document.getElementById("email").value;

                if (salesman_name_value.length == 0){
                    checks_passed = false;
                    document.getElementById("error").textContent = "Salesman name can not be blank. ";
                }

                if (mobile_number_formater(mobile_no_value) != "problem"){mobile_no_value = mobile_number_formater(mobile_no_value);} 
                else {
                    checks_passed = false;
                    document.getElementById("error").textContent = document.getElementById("error").textContent + "Invalid Mobile Number. ";
                }

                if (email_value.length == 0){
                    checks_passed = false;
                    document.getElementById("error").textContent = document.getElementById("error").textContent + "Email can not be blank. ";
                }


                console.log(salesman_name_value);
                console.log(mobile_no_value);
                console.log(email_value);

                if (checks_passed){
                    let form = document.createElement('form');
                    form.method = 'post';
                    form.action = link;
                    form.style.visibility = 'hidden';
    
                    let customer_id = document.createElement('input');
                    customer_id.type = 'text';
                    customer_id.name = "customer_id";
                    customer_id.value = document.getElementById("customer_id").value
                    form.appendChild(customer_id);
    
                    let salesman_id = document.createElement('input');
                    salesman_id.type = 'text';
                    salesman_id.name = "salesman_id";
                    salesman_id.value = document.getElementById("salesman_id").value
                    form.appendChild(salesman_id);

                    let landline_no = document.createElement('input');
                    landline_no.type = 'text';
                    landline_no.name = "landline_no";
                    landline_no.value = document.getElementById("landline_no").value
                    console.log(document.getElementById("landline_no").value)
                    form.appendChild(landline_no);
    
                    let salesman_name = document.createElement('input');
                    salesman_name.type = 'text';
                    salesman_name.name = "salesman_name";
                    salesman_name.value = salesman_name_value;
                    form.appendChild(salesman_name);
    
                    let mobile_no = document.createElement('input');
                    mobile_no.type = 'text';
                    mobile_no.name = "mobile_no";
                    mobile_no.value = mobile_no_value;
                    form.appendChild(mobile_no);
    
                    let email = document.createElement('input');
                    email.type = 'text';
                    email.name = "email";
                    email.value = email_value;
                    form.appendChild(email);
    
                    document.body.appendChild(form);
                    form.submit();
                }
            }
        </script>
    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">Quote Craft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {% for nav in navbar %}
                            <li class="nav-item"><a class="nav-link" href="{{nav[1]}}">{{nav[0]}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main" class="container-fluid" style="padding:80px 10px 10px 10px;">
            {% if type=='invoice_logs' %}
            <p>You can check logs for invoice using invoice id. If an old invoice cannot be found in the system and you have the invoice id then you can check the logs here. You can only check logs for invoice from your group.</p>
                <form action="/invoice_logs"  method="post">
                    <input type="text" id="invoice_id" name="invoice_id" value="{{invoice_id}}" placeholder="Enter Invoice ID" />
                    <input class="button" type="submit" value="Search">
                </form>
                <hr>
                <div>{{message}}</div>
                {% if logs_data|length > 0 %}
                    <div id="logs_table">
                        <table>
                        <tr><th colspan=6 style="text-align:center;">Logs</th></tr>
                        <tr>
                            <th>Sr.</th>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>Date & Time</th>
                            <th>Type</th>
                            <th>Details</th>
                        </tr>
                        {% for logs in logs_data %}{% if loop.index % 2 == 0 %}<tr class="dark">{% else %}<tr class="light">{% endif %}
                            <td>{{loop.index}}</td>
                            <td>{{logs['user']}}</td>
                            <td>{{user_dict[logs['user']]}}</td>
                            <td>{{logs['date_time']}}</td>
                            <td>{{logs['type']}}</td>
                            <td><pre>{{logs['details']}}</pre></td>
                        </tr>{% endfor %}
                    </table>
                    </div>
                {% else %}
                    <div><p>No Results</p></div>
                {% endif %}
            {% elif type=='update_customer' %}
                <form  action="/invoice?view=update_customer&customer_id={{customer_details['primarykey']}}" method="POST">

                    <table>
                        <tr><td>Customer Name</td><td><input type="text" id="cust_name" name="cust_name" value="{{customer_details['customer_name']}}" required/></td></tr>
                        <tr><td>Contact Number</td><td><input type="text" id="contact_no" name="contact_no" value="{{customer_details['contact_number']}}" /></td></tr>
                        <tr><td>Salesman Name</td><td id="addManual">
                            <select name="salesman_id" id="salesman_id" required>
                            <option value="{{current_salesman_detail['salesman_id']}}">{{current_salesman_detail['salesman_name']}}</option>
                            {% for salesman in salesman_list %}
                                <option value="{{salesman['salesman_id']}}">{{salesman['salesman_name']}}</option>
                            {% endfor %}
                            </select>
                        </td></tr>
                    </table>
                    <br>
                    <input class="button" type="submit" value = "Update Customer" />
                </form>

                    <hr>
                    <br><br>
                    Correction to existing salesman details: <a href="/invoice?view=edit_salesman&salesman_id={{current_salesman_detail['salesman_id']}}&customer_id={{customer_details['primarykey']}}"><button class="button">Update details for '{{current_salesman_detail['salesman_name']}}'</button></a>
                    <br><br>
                    Add new salesman: <a href="/invoice?view=add_salesman&customer_id={{customer_details['primarykey']}}"><button class="button">Add New Salesman</button></a>

            {% elif type=='add_salesman' %}
                <input type="text" id="customer_id" name="customer_id" value="{{customer_id}}" hidden />
                <input type="text" id="salesman_id" name="salesman_id" value="" hidden />
                <table>
                    <tr><td>Salesman Name</td><td><input type="text" id="salesman_name" name="salesman_name" required /></td></tr>
                    <tr><td>Mobile Number</td><td><input type="text" id="mobile_no" name="mobile_no" required /></td></tr>
                    <tr><td>Landline</td><td><input type="text" id="landline_no" name="landline_no" required /></td></tr>
                    <tr><td>Email ID</td><td><input type="text" id="email" name="email" required /></td></tr>
                </table>
                <div id="error"></div>
                <br>
                <button class="button" type="button" onClick=salesman_add_edit("/invoice?view=add_salesman")>Add Salesman</button>
            {% elif type=='edit_salesman' %}
                <input type="text" id="customer_id" name="customer_id" value="{{customer_id}}" hidden />
                <input type="text" id="salesman_id" name="salesman_id" value="{{salesman_detail['salesman_id']}}" hidden />
                <table>
                    <tr><td>Salesman Name</td><td><input type="text" id="salesman_name" name="salesman_name" value="{{salesman_detail['salesman_name']}}" required/></td></tr>
                    <tr><td>Mobile Number</td><td><input type="text" id="mobile_no" name="mobile_no" value="{{salesman_detail['mobile_number']}}" required /></td></tr>
                    <tr><td>Landline</td><td><input type="text" id="landline_no" name="landline_no" value="{{salesman_detail['landline_no']}}" required /></td></tr>
                    <tr><td>Email ID</td><td><input type="text" id="email" name="email" value="{{salesman_detail['email_id']}}" required /></td></tr>
                </table>
                <div id="error"></div>
                <br>
                <button class="button" type="button" onClick=salesman_add_edit("/invoice?view=edit_salesman")>Update Salesman</button>
                <hr>
                {% if logs_data|length > 0 %}
                    <div id="logs_table">
                        <table>
                        <tr><th colspan=5 style="text-align:center;">Logs</th></tr>
                        <tr>
                            <th>Sr.</th>
                            <th>User ID</th>
                            <th>User Name</th>
                            <th>Date & Time</th>
                            <th>Type</th>
                            <th>Details</th>
                        </tr>
                        {% for logs in logs_data %}{% if loop.index % 2 == 0 %}<tr class="dark">{% else %}<tr class="light">{% endif %}
                            <td>{{loop.index}}</td>
                            <td>{{logs['user']}}</td>
                            <td>{{user_dict[logs['user']]}}</td>
                            <td>{{logs['date_time']}}</td>
                            <td>{{logs['type']}}</td>
                            <td><pre>{{logs['details']}}</pre></td>
                        </tr>{% endfor %}
                    </table>
                    </div>
                {% else %}
                    <div id="logs_table"><p>No Logs.</p></div>
                {% endif %}
            {% endif %}
            <br>
        </main>
        <footer class="footer">| Created by Moizali Taj | Last updated on {{last}} |</footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static',filename='js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
    </body>
</html>
