<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='media/favicon.ico') }}">
        <title>{{title}}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/bootstrap.min.css') }}" >
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static',filename='css/sticky-footer-navbar.css') }}" >
        <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" >
     </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">Quote Craft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {% for nav in navbar %}<li class="nav-item"><a class="nav-link" href="{{nav[1]}}">{{nav[0]}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main" class="container-fluid" style="padding:60px 10px 10px 10px;">
            <div id="customer_details_div"></div> 
            <div class="table-container" id="specialtable">
                <div id="invoice_content_table"></div>
                <br>
                <div id="add_product_div"><button class="button" id="button_add" onClick=add_new_item()>Add Item</button></div>
                <div id="narration_div"></div>
                <div id="logs_table"></div>
            </div>
            <div id="overlay" class="overlay"><div class="loader"></div></div>
        </main>
        <footer class="footer">| Created by Moizali Taj | Last updated on {{last}} |</footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static',filename='js/jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static',filename='js/convert_amount_to_words.js') }}"></script>
        <script src="{{ url_for('static',filename='js/invoice_manager.js') }}"></script>
        <script>
            driver({{invoice_data['invoice_id']}}) 
        </script>
    </body>
</html>
