<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="{{ url_for('static',filename='favicon.ico') }}">
        <title>{{title}}</title>
        <link rel="canonical" href="https://getbootstrap.com/docs/4.0/examples/sticky-footer-navbar/">
        <!-- Bootstrap core CSS -->
        <link rel="stylesheet" href="{{ url_for('static',filename='bootstrap.min.css') }}" >
        <!-- Custom styles for this template -->
        <link rel="stylesheet" href="{{ url_for('static',filename='sticky-footer-navbar.css') }}" >
        <script src="{{ url_for('static',filename='home_search.js') }}"></script>
        <link rel="stylesheet" href="{{ url_for('static',filename='style.css') }}" >
        <script src="{{ url_for('static',filename='calc.js') }}"></script>
        <script src="{{ url_for('static',filename='shortcut.js') }}"></script>

    </head>
    <body>
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="/">Quote Craft</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        {% for nav in navbar %}
                            <li class="nav-item"><a class="nav-link" href="{{nav[1]}}">{{nav[0]}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
            </nav>
        </header>
        <!-- Begin page content -->
        <main role="main" class="container-fluid" style="padding:80px 10px 10px 10px;">
            <br><br>
            {% if type == 'add_product' %}
                <form action='/add?product_id={{dataadd["primarykey"]}}&search_type={{search_type}}&search_query={{query}}' method="POST">
                    <table>
                        <tr><td>Code</td><td><input class="input" type="text" id="code" name="code" required value='{{dataadd["code_value"]}}'/></td></tr>
                        <tr><td>Description</td><td>
                            {% if dataadd['description_sheet']|length > 0 %}
                                {% if dataadd['brand_val']|length > 0 %}
                                    <input class="input" type="text" id="description" name="description" required value='{{dataadd["description_sheet"]}} (Brand: {{ dataadd["brand_val"] }})'/>
                                {% else %}
                                    <input class="input" type="text" id="description" name="description" required value='{{dataadd["description_sheet"]}}'/>
                                {% endif %}
                            {% else %}
                                {% if dataadd['brand_val']|length > 0 %}
                                    <input class="input" type="text" id="description" name="description" required value='{{dataadd["description_stock"]}} (Brand: {{ dataadd["brand_val"] }})'/>
                                {% else %}
                                    <input class="input" type="text" id="description" name="description" required value='{{dataadd["description_stock"]}}'/>
                                {% endif %}
                            {% endif %}
                        </td></tr>
                        <tr><td>Size</td><td><input class="input" type="text" id="size" name="size" value='{{dataadd["size_val"]}}'/></td></tr>
                        <tr><td>Packing</td><td><input class="input" type="text" id="packing" name="packing" value='{{dataadd["packaging_val"]}}'/></td></tr>
                        <tr><td>Price</td><td><input class="input" type="number" step="0.01" id="price" name="price" style="width: 50px;" required value='{{dataadd["sale_val"]}}' />  / <input class="input" type="text" id="unit" name="unit" style="width: 50px;" required value='{{dataadd["unit_val"]}}' /> <div id="margin_amount"></div> </td></tr>
                        <tr><td>Quantity</td><td><input class="input" type="number" step="0.01" id="quantity" name="quantity" required /></td></tr>
                        <tr><td>Customer Name</td><td>
                        {% if custdetails|length > 0 %}
                            <select name="invoice_id" id="invoice_id" required>
                            <option value="" selected disabled hidden >Choose here</option>
                            {% for customer in custdetails %}
                                <option value="{{customer[1]}}">{{customer[1]}} {{customer[0]}}</option>
                            {% endfor %}
                            </select><br>
                            <a href="/invoice?view=add_customer">Add new customer.</a>
                        {% else %}
                            <a href="/invoice?view=add_customer">add new customer</a>
                        {% endif %}
                        </td></tr>
                        <tr><td>Purchase Rate</td><td><input class="input" type="number" step="0.0001" id="purchase_price" name="purchase_price" value="{{dataadd["tally_rate"]}}" /></td></tr>
                        <tr><td>Notes</td><td><input class="input" type="text" id="notes" name="notes"/></td></tr>
                    </table>
                    
                    <br>
                    <input class="button" type="submit" value = "Add">
                </form>
            {% endif %}
            <br>
            <div id="DIV1"><button class="button" onclick="CalcToggle()">Calculator</button></div>
            <br><br>
        </main>
        <footer class="footer">
            <div class="container" style="text-align: center;">
            <span class="text-muted">| Created by Moizali Taj | Last updated on {{last}} |</span>
            </div>
        </footer>
        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="{{ url_for('static',filename='jquery-3.2.1.slim.min.js') }}"></script>
        <script src="{{ url_for('static',filename='popper.min.js') }}"></script>
        <script src="{{ url_for('static',filename='bootstrap.min.js') }}"></script>
        <script>
            function margin_calculate(){
                let purchase_price = document.getElementById("purchase_price").value
                let selling_price = document.getElementById("price").value
                let margin = (((selling_price / purchase_price) - 1) * 100 ).toFixed(2)
                document.getElementById("margin_amount").innerHTML = "Margin : " + margin + " %"
            }
            margin_calculate()
            document.getElementById("purchase_price").addEventListener("change", function () {
                margin_calculate()
            });
            document.getElementById("price").addEventListener("change", function () {
                margin_calculate()
            });
            margin_calculate()
        </script>
    </body>
</html>
